{% extends 'coffeeApp/layout.html' %}

{% block content %}
{% load static %}

<div class="catalog__top">
    <div class="container">
        <h1 class="top__content-title catalog__title">
            Каталог
        </h1>
    </div>
</div>
    <section class="catalog">
        <div class="container">
            <div class="shop__text">
                <div class="shop__title title">
                    Наши товары
                </div>
                <div class="shop__subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi consectetur, dolorem eos hic
                    libero  maxime molestias necessitatibus perspiciatis praesentium quidem sequi, unde, velit. Assumenda
                    dolore eius ipsam itaque nihil.
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="shop__item-title">Compagnia Dell'Arabica Jamaica Blue Mountain 1,
                                5 кг</h5>
                            <div class="shop__item-price">45 500 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop2.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="shop__item-title">Compagnia Dell`arabica "Jamaica Blue Mountain", молотый, 125 г</h5>
                            <div class="shop__item-price">5 280 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop3.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="shop__item-title">Coffe Kopi Luwak Arabica Premium Blend Ground Gourmet Coffee (100g)</div>
                            <div class="shop__item-price">35 500 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="shop__item-title">Compagnia Dell'Arabica Jamaica Blue Mountain 1,
                                5 кг</h5>
                            <div class="shop__item-price">45 500 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop2.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="shop__item-title">Compagnia Dell`arabica "Jamaica Blue Mountain", молотый, 125 г</h5>
                            <div class="shop__item-price">5 280 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop3.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="shop__item-title">Coffe Kopi Luwak Arabica Premium Blend Ground Gourmet Coffee (100g)</div>
                            <div class="shop__item-price">35 500 ₽</div>
                        </div>
                    </div>
                </div><div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="shop__item-title">Compagnia Dell'Arabica Jamaica Blue Mountain 1,
                                5 кг</h5>
                            <div class="shop__item-price">45 500 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop2.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="shop__item-title">Compagnia Dell`arabica "Jamaica Blue Mountain", молотый, 125 г</h5>
                            <div class="shop__item-price">5 280 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop3.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="shop__item-title">Coffe Kopi Luwak Arabica Premium Blend Ground Gourmet Coffee (100g)</div>
                            <div class="shop__item-price">35 500 ₽</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>

{% endblock %}