{% extends 'coffeeApp/layout.html' %}

{% block content %}
{% load static %}

    <div class="shop__inner">
        <div class="fullscreen__body">
            <h1 class="fullscreen__title">
                Каталог
            </h1>
        </div>
    </div>

    <section class="shop">
        <div class="container">
            <div class="shop__text">
                <h2 class="title">
                    Наши товары
                </h2>
                <div class="info__text">
                    Мы предлагаем Вам широкий ассортимент различных сортов кофе из самых разнообразных стран.
                    Лёгкий цветочный аромат, густая консистенция, приятное и долгое послевкусие.
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="shop__item-title">Compagnia Dell'Arabica Jamaica Blue Mountain 1,
                                5 кг</h5>
                            <div class="shop__item-price">45 500 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop2.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="shop__item-title">Compagnia Dell`arabica "Jamaica Blue Mountain", молотый, 125 г</h5>
                            <div class="shop__item-price">5 280 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop3.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="shop__item-title">Coffe Kopi Luwak Arabica Premium Blend Ground Gourmet Coffee (100g)</div>
                            <div class="shop__item-price">35 500 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="shop__item-title">Compagnia Dell'Arabica Jamaica Blue Mountain 1,
                                5 кг</h5>
                            <div class="shop__item-price">45 500 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop2.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="shop__item-title">Compagnia Dell`arabica "Jamaica Blue Mountain", молотый, 125 г</h5>
                            <div class="shop__item-price">5 280 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop3.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="shop__item-title">Coffe Kopi Luwak Arabica Premium Blend Ground Gourmet Coffee (100g)</div>
                            <div class="shop__item-price">35 500 ₽</div>
                        </div>
                    </div>
                </div><div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/shop.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="shop__item-title">Compagnia Dell'Arabica Jamaica Blue Mountain 1,
                            5 кг</h5>
                        <div class="shop__item-price">45 500 ₽</div>
                    </div>
                </div>
            </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop2.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="shop__item-title">Compagnia Dell`arabica "Jamaica Blue Mountain", молотый, 125 г</h5>
                            <div class="shop__item-price">5 280 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop3.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="shop__item-title">Coffe Kopi Luwak Arabica Premium Blend Ground Gourmet Coffee (100g)</div>
                            <div class="shop__item-price">35 500 ₽</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}