{% extends 'coffeeApp/layout.html' %}

{% block content %}
{% load static %}

    <div class="top__content login__content">
        <div class="container">
            <div class="top__inner">
                <div class="top__content-title">Coffee&Milk</div>
            </div>
        </div>
    </div>

    <section class="why__we">
    <div class="container">
        <div class="why-info">
            <h2 class="why-info__title title">
                Почему мы?
            </h2>
            <div class="why-info__text">
                Мы ценим наших клиентов, отбираем зерна высшего класса, выпекаем самые мягкие и вкусные булочки,
                собираем заказы с собой.
            </div>
        </div>
        <div class="why__items">
            <div class="why-items__inner">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card text-center shadow">
                            <a href="#" class="card-body">
                                <img src="{% static 'img/why1.png' %}" alt="why1">
                                <h5 class="card-title title">
                                    Зёрна A+ класса
                                </h5>
                                <p class="card-text">
                                    Отбираем зерна высших сортов
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-center shadow">
                            <a href="#" class="card-body">
                                <img src="{% static 'img/why2.png' %}" alt="why1">
                                <h5 class="card-title title">
                                    Свежие булочки
                                </h5>
                                <p class="card-text">
                                    Выпекаем самые мягкие и вкусные булочки к кофе
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-center shadow">
                            <a href="" class="card-body">
                                <img src="{% static 'img/why3.png' %}" alt="why1">
                                <h5 class="card-title title">
                                    Кофе с собой
                                </h5>
                                <p class="card-text">
                                    Собираем Вам заказы с собой
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section class="news">
    <div class="container">
        <div class="news__inner">
            <a href="{% url 'blog' %}" class="news__title title">
                Наш полезный блог
            </a>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <a href="#" class="dark_link"><img src="{% static 'img/news1.jpg' %}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <a href="#" class="card-title title">Вывели новый сорт кофе</a>
                            <p class="card-text news-text">
                                Quisque rutrum, aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                ullamcorper  ultricies nisi, nam eget dui. Etiam rhoncus maecenas tempus,
                            </p>
                            <a href="{% url 'blog' %}" class="btn-news">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <a href="#" class="dark_link"><img src="{% static 'img/news2.jpg' %}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <a href="#" class="card-title title">Кофейный фестиваль 17 июля</a>
                            <p class="card-text news-text">
                                Quisque rutrum, aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                ullamcorper  ultricies nisi, nam eget dui. Etiam rhoncus maecenas tempus,
                            </p>
                            <a href="{% url 'blog' %}" class="btn-news">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <a href="#" class="dark_link">
                            <img src="{% static 'img/news3.jpg' %}" class="card-img-top"
                                                          alt="...">
                        </a>
                        <div class="card-body">
                            <a href="#" class="card-title title">8 лучших книг о кофе</a>
                            <p class="card-text news-text">
                                Quisque rutrum, aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                ullamcorper  ultricies nisi, nam eget dui. Etiam rhoncus maecenas tempus,
                            </p>
                            <a href="{% url 'blog' %}" class="btn-news">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <div class="photo-fixed"></div>
    <section class="shop">
    <div class="container">
        <div class="shop__text">
            <a href="{% url 'catalog' %}" class="shop__title title">
                Наши товары
            </a>
            <div class="shop__subtitle">
                Мы предлагаем Вам широкий ассортимент различных сортов кофе из самых разнообразных стран.
                    Лёгкий цветочный аромат, густая консистенция, приятное и долгое послевкусие.
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="shop__item-title">Compagnia Dell'Arabica Jamaica Blue Mountain 1,
                                5 кг</h5>
                            <div class="shop__item-price">45 500 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'img/shop.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="shop__item-title">Compagnia Dell'Arabica Jamaica Blue Mountain 1,
                                5 кг</h5>
                            <div class="shop__item-price">45 500 ₽</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                            <img src="{% static 'img/shop.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                               <div class="shop__item-title">Compagnia Dell'Arabica Jamaica Blue Mountain 1,
                                5 кг</div>
                            <div class="shop__item-price">45 500 ₽</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </section>


{% endblock %}