{% extends 'coffeeApp/layout.html' %}

{% block content %}
    <div class="login__inner">
        <div class="fullscreen__body">
            <h1 class="fullscreen__title">
                Авторизация
            </h1>
        </div>
    </div>

    <div class="login__content">
        <div class="container">
            <div class="login__form">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="login__btn" type="submit">Войти</button>
                    </form>
                    <a href="{% url 'register' %}">Нет аккаунта? Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}